<!DOCTYPE HTML>
<html>
<head>
<script>
function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

    window.onload = function () {
        

var dps = []; // dataPoints
var chart = new CanvasJS.Chart("chartContainer", {
	title :{
		text: "Dynamic Data"
	},
	axisY: {
		includeZero: false
	},      
	data: [{
		type: "line",
		dataPoints: dps
	}]
});

var xVal = 0;
var yVal = 100; 
var updateInterval = 1000;
var dataLength = 20; // number of dataPoints visible at any point

var updateChart = function (count) {

	count = count || 1;

	for (var j = 0; j < count; j++) {
      //  yVal = yVal +  Math.round(5 + Math.random() *(-5-5));// http://35.237.8.52/mqtt/csv?path=devices/a1/out.csv&getlast=1
        document.getElementById("p1").innerHTML = "New text!";
        $.get(
            "{% url 'get_csv' %}?path=a5/out.csv&getlast=1",//http://35.237.8.52/mqtt/csv?path=a1/out.csv&getlast=1
            {},
            function(data) {
               // dj =JSON.parse(data);
                
                b = data.lastIndexOf(";");
                a = data.lastIndexOf(";",b-1)+1;
              //     console.log('page content: ' + data +"last: "+data.lastIndexOf(";")+"\t"+data.lastIndexOf(";",data.lastIndexOf(";")-1) );
                yVal =parseInt(data.substring(a,b));
            }
        );

		dps.push({
			x: xVal,
			y: yVal
		});
		xVal++;
	}

	if (dps.length > dataLength) {
		dps.shift();
	}

	chart.render();
};

updateChart(dataLength);
setInterval(function(){updateChart()}, updateInterval);

}

</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; width:100%;"></div>
<hr>
<p id="p1">Hello World!</p>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>
